.navbar-brand
    text-transform: uppercase
.title-img
    background: url('../assets/images/family_aut_21.JPEG') no-repeat
    background-position: right
    background-size: contain
    height: 60vh

.stas
    background: url('../assets/images/volvo-selfie.JPG') no-repeat
    background-position: center
    background-size: contain
    height: 50vh

.row-cards
    justify-content: space-between
