@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.wrap-logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flag_ua {
  z-index: -1;
  left: 50px;
  position: absolute;
  top: -6px;
}

.navbar-brand {
  text-transform: uppercase;
}

.title-img {
  background: url("../assets/images/family_aut_21.JPEG") no-repeat;
  background-position: right;
  background-size: contain;
  height: 55vh;
}

.row-cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-link::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #0d6efd;
  border-right: 2px solid #0d6efd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 5px;
  margin-left: 5px;
}

.more_pic {
  background: url("../assets/images/work.jpg") no-repeat;
  background-position: left;
  background-size: contain;
  height: 50vh;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-about {
  border-radius: 10px;
}

.row-rewerse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.row-about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-bgs {
  background-color: #F7F8F3;
  width: 100%;
  padding: 0 15px;
}

.icons-item {
  color: #055121;
  font-size: 34px;
}

.icons-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
}

.icons-wrap {
  grid-column: span 3;
}

.icons-wrap:nth-last-child(3) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
}

.icons-wrap:nth-last-child(2) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / span 3;
}

.icons-wrap:nth-last-child(1) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9 / span 3;
}

.txt-xxxl {
  font-size: 64px;
}

.txt-xxl {
  font-size: 40px;
}

.txt-xl {
  font-size: 39px;
}

.txt-l {
  font-size: 32px;
}

.txt-m {
  font-size: 32px;
}

.txt-s {
  font-size: 16px;
}

.txt-xs {
  font-size: 15px;
}

.txt-xxs {
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #403E3B;
}

li,
ul,
a {
  color: #403E3B;
  list-style: none;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}
