@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.wrap-logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flag_ua {
  z-index: -1;
  left: 50px;
  position: absolute;
  top: -6px;
}

.navbar-brand {
  text-transform: uppercase;
}

.title-img {
  background: url("../assets/images/family_aut_21.jpg") no-repeat;
  background-position: right;
  background-size: contain;
  height: 55vh;
}

.row-cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-link::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #0d6efd;
  border-right: 2px solid #0d6efd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 5px;
  margin-left: 5px;
}

.more_pic {
  background: url("../assets/images/work.jpg") no-repeat;
  background-position: left;
  background-size: contain;
  height: 50vh;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-about {
  border-radius: 10px;
}

.row-rewerse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.row-about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-bgs {
  background-color: #F7F8F3;
  width: 100%;
  padding: 0 60px;
}

.icons-item {
  color: #055121;
  font-size: 34px;
}

.icons-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
}

.icons-wrap {
  grid-column: span 3;
}

.icons-wrap:nth-last-child(3) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
}

.icons-wrap:nth-last-child(2) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / span 3;
}

.icons-wrap:nth-last-child(1) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9 / span 3;
}

.guarantee-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guarantee-item {
  width: 27%;
  background: #ffff;
  text-align: center;
  color: #3C3F34;
  padding: 35px 25px;
  border: 1px solid #E7EDF3;
  border-radius: 2px;
}

.guarantee-item:hover {
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  -webkit-transform: scale(1.08);
  transform: scale(1.09);
  -webkit-transition-delay: 0,8s;
          transition-delay: 0,8s;
  color: white;
}

.guarantee-item:hover .guarantee-name,
.guarantee-item:hover .guarantee-txt {
  color: white;
}

.btn-outline-information {
  background: linear-gradient(156deg, #759348 0.78%, #90a66c 98.41%);
  color: white;
}

.btn-outline-information:hover {
  color: white;
}

.gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
  grid-gap: 12px;
  padding: 0 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item {
  margin-bottom: 0px;
}

.gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 8;
}

.gallery__item--2 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 8;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 8;
}

.gallery__item--4 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 11;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--5 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 13;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--6 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 11;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 8;
}

.gallery__item--7 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 13;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 8;
}

.contactform-wrap {
  background-color: #f5f5dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form {
  max-width: 550px;
  color: #fffff;
  padding: 30px auto;
  outline: none;
}

.form-title {
  margin: 0 0 30px 0;
}

.form__item {
  margin: 0 0 20px 0;
}

.form__label {
  display: block;
  margin: 0 0 10px 0;
}

.form__input {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  outline: none;
  border: none;
  border: solid 1px #c6d7c5;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #294129;
          box-shadow: 0 0 15px #294129;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.input-area {
  height: 120px;
}

.contactformBotton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background: linear-gradient(156deg, #759348 0.78%, #90a66c 98.41%);
  border-radius: 5px;
  color: #ffff;
  outline: none;
  border: none;
  border: solid 1px #c6d7c5;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 0 linear-gradient(156deg, #2a321e 0.78%, #373c2e 98.41%);
          box-shadow: 0 5px 0 linear-gradient(156deg, #2a321e 0.78%, #373c2e 98.41%);
  text-transform: uppercase;
  font-size: 24px;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.contactformBotton:hover {
  background: linear-gradient(156deg, #5a7039 0.78%, #586f32 98.41%);
}

.contactformBotton:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 linear-gradient(156deg, #2a321e 0.78%, #373c2e 98.41%);
          box-shadow: 0 2px 0 linear-gradient(156deg, #2a321e 0.78%, #373c2e 98.41%);
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px #d13206;
          box-shadow: 0 0 15px #d13206;
}

.burger-menu {
  visibility: hidden;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 28px;
  right: 15px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu-btn > span::before {
  content: '';
  top: -8px;
}

.menu-btn > span::after {
  content: '';
  top: 8px;
}

.menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu-item:hover {
  background-color: #CFD8DC;
}

#menu-toggle:checked ~ .menu-btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu-toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
}

#menu-toggle {
  opacity: 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-sm {
  height: 45px;
}

.unit-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 11px;
  border: 1px solid white;
  border-radius: 22px;
  background-color: white;
  outline: none;
  font-family: inherit;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  left: -1px;
  width: 220px;
  -webkit-box-shadow: 0 0 10px 5px #dddddd;
          box-shadow: 0 0 10px 5px #dddddd;
}

.icon-sm {
  position: absolute;
  z-index: 1;
}

.txt-xxxl {
  font-size: 64px;
}

.txt-xxl {
  font-size: 40px;
}

.txt-xl {
  font-size: 39px;
}

.txt-l {
  font-size: 32px;
}

.txt-m {
  font-size: 28px;
}

.txt-s {
  font-size: 16px;
}

.txt-xs {
  font-size: 15px;
}

.txt-xxs {
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #403E3B;
}

li,
ul,
a {
  color: #403E3B;
  list-style: none;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 780px) {
  .icons-wrap {
    grid-column: span 6;
  }
  .icons-wrap:nth-last-child(3) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
  }
  .icons-wrap:nth-last-child(2) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / span 6;
  }
  .icons-wrap:nth-last-child(1) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4 / span 6;
  }
  .guarantee-item {
    width: 100%;
  }
  .gallery {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (13vw)[14];
        grid-template-rows: repeat(14, 13vw);
  }
  .gallery__item--1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 8;
  }
  .gallery__item--5 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
  }
  .gallery__item--7 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 8;
  }
  .gallery__item--2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 8;
        grid-row-start: 8;
    grid-row-end: 12;
  }
  .gallery__item--4 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 8;
        grid-row-start: 8;
    grid-row-end: 11;
  }
  .gallery__item--3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 12;
        grid-row-start: 12;
    grid-row-end: 15;
  }
  .gallery__item--6 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 7;
    -ms-grid-row: 11;
        grid-row-start: 11;
    grid-row-end: 15;
  }
  .nav-pills {
    visibility: hidden;
  }
  .burger-menu {
    visibility: visible;
  }
}

@media screen and (max-width: 500px) {
  .icons-wrap {
    grid-column: span 12;
  }
  .icons-wrap:nth-last-child(3) {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
  }
  .icons-wrap:nth-last-child(2) {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
  }
  .icons-wrap:nth-last-child(1) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
  }
}
